.wrapper {
  width: 100%;
  padding: 65px 55px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 30px;
}
.wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.text {
  max-width: 640px;
  display: flex;
  align-items: center;
  gap: 33px;
  font-size: 18px;
  font-weight: 600;
  color: #727272;
}
.link {
  color: #2156bd;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
