.box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #d3d3d3;
  background: #f6f6f6;
}
.check {
  opacity: 0;
  padding: 4px;
}
.box.active .check {
  opacity: 1;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
}
.active {
  background: #2156bd;
}
