.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: 0.2s;
  color: #000;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  padding: 45px 50px;
  background: #fff;
}
.open__modal {
  opacity: 1;
  visibility: visible;
}
/* form */
.form h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 45px;
}
.form p {
  font-size: 18px;
  margin-bottom: 46px;
}
.row {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
}
.count {
  display: flex;
  align-items: center;
  gap: 22px;
}
.count button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  font-size: 36px;
  color: #4b4b4b;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.count button:active {
  background-color: #d3d3d3;
}
.count div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border: 1px solid #d3d3d3;
  background-color: #f6f6f6;
  font-size: 18px;
}
.button {
  cursor: pointer;
  font-weight: 400;
  padding: 13px 0;
  width: 100%;
  color: #fff;
  background: #2156bd;
  font-size: 18px;
  border: none;
}
.button:hover {
  opacity: 0.9;
}
.exit {
  padding: 18px 0;
  background: transparent;
  color: #989898;
}

.err {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 14px;
}
