.wrapper {
  width: 100%;
  padding: 65px 55px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 30px;
}
.wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.row {
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.col {
  max-width: 430px;
  width: 100%;
}
.line {
  width: 1px;
  height: 100%;
  background: #d3d3d3;
}
.input {
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #646464;
  gap: 10px;
  margin-bottom: 15px;
}
.input input {
  font-weight: 400;
  padding: 0 20px;
  font-size: 18px;
  outline: none;
  height: 35px;
  border: 1px solid #d3d3d3;
  background: #f6f6f6;
}
.input input:focus {
  border: 1px solid #000;
}

.button {
  text-align: end;
  margin-bottom: 30px;
}
.button button {
  width: 350px;
  height: 50px;
  background-color: #2156bd;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.button button:hover {
  opacity: 0.9;
}
.adress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adress .input {
  max-width: 200px;
}
